doctype html
html
  head
    title= title
    link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    script(src="/javascripts/axios.min.js")
    script(src="/javascripts/board.js")
  body
    include navigation.pug
    div.container.my-3
      block content
